I8fdb7j25y6dgJxf-My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2521adb8-33ea-4b92-a284-dbcd8c8128df",
              "name": "Rechnungsnummer",
              "value": "=\"{{ JSON.parse($json['output']).Rechnungsnummer }}\"",
              "type": "string"
            },
            {
              "id": "67a92c24-a2e7-4085-b0a5-ea9d8936a120",
              "name": "Rechnungsdatum",
              "value": "=\"{{ JSON.parse($json['output']).Rechnungsdatum }}\"",
              "type": "string"
            },
            {
              "id": "0838c7b2-54fd-45f7-b411-c02676121292",
              "name": "Lieferant_Name",
              "value": "=\"{{ JSON.parse($json['output']).Lieferant_Name }}\"",
              "type": "string"
            },
            {
              "id": "44cdbaee-ac25-41cb-b553-14ce54959008",
              "name": "Lieferant_Adresse",
              "value": "=\"{{ JSON.parse($json['output']).Lieferant_Adresse }}\"",
              "type": "string"
            },
            {
              "id": "42ae9657-19ab-4424-9bf1-99a64c70ce0f",
              "name": "Lieferant_UStID",
              "value": "=\"{{ JSON.parse($json['output']).Lieferant_UStID }}\"",
              "type": "string"
            },
            {
              "id": "fee64cbc-12b8-4e9f-b0a1-6117255f14c5",
              "name": "Empfaenger_Name",
              "value": "={{ JSON.parse($json['output']).Empfaenger_Name }}",
              "type": "string"
            },
            {
              "id": "ebf64cbd-c398-49c0-ae0a-00655a9c3b19",
              "name": "Empfaenger_Adresse",
              "value": "={{ JSON.parse($json['output']).Empfaenger_Adresse }}",
              "type": "string"
            },
            {
              "id": "51429137-42e2-4d02-b755-a0dc1ce121f7",
              "name": "Leistungsdatum",
              "value": "={{ JSON.parse($json['output']).Leistungsdatum }}",
              "type": "string"
            },
            {
              "id": "bdeb0f54-d761-4a7f-bfa5-7e38a1dc0c35",
              "name": "BetragNetto",
              "value": "={{ JSON.parse($json['output']).BetragNetto }}",
              "type": "string"
            },
            {
              "id": "c56b6dd2-a0b1-48c8-b84e-0f4dbc18a7f7",
              "name": "MwStSatz",
              "value": "={{ JSON.parse($json['output']).MwStSatz }}",
              "type": "string"
            },
            {
              "id": "53a32831-5426-4480-a98e-425715689d85",
              "name": "MwStBetrag",
              "value": "=\"{{ JSON.parse($json['output']).MwStBetrag }}\"",
              "type": "string"
            },
            {
              "id": "158ab326-2dec-407a-b476-228afd4fcf06",
              "name": "BetragBrutto",
              "value": "=\"{{ JSON.parse($json['output']).BetragBrutto }}\"",
              "type": "string"
            },
            {
              "id": "351ac4e2-9e19-4fa8-82ee-7786f6c263ee",
              "name": "Faelligkeit",
              "value": "={{ JSON.parse($json['output']).Faelligkeit }}",
              "type": "string"
            },
            {
              "id": "eabd70c0-640c-40cf-9f05-8725e2e4419a",
              "name": "IBAN",
              "value": "=\"{{ JSON.parse($json['output']).IBAN }}\"",
              "type": "string"
            },
            {
              "id": "20a8ca10-d3e5-4762-9a3b-3db01e4f4cea",
              "name": "BIC",
              "value": "=\"{{ JSON.parse($json['output']).BIC }}\"",
              "type": "string"
            },
            {
              "id": "b12abe79-9fbd-4f77-b399-d76ce3723cbb",
              "name": "Zahlungsbedingungen",
              "value": "=\"{{ JSON.parse($json['output']).Zahlungsbedingungen }}\"",
              "type": "string"
            },
            {
              "id": "70b9d5c4-92e4-4395-9dba-b662ef5a1edf",
              "name": "Leistungsbeschreibung",
              "value": "=\"{{ JSON.parse($json['output']).Leistungsbeschreibung.replace(/\\\"/g, '\\\\\\\"') }}\"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        -208
      ],
      "id": "871ab1eb-c859-40d0-b058-259c265c2653",
      "name": "Edit Fields",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        704,
        -208
      ],
      "id": "b708fce8-dcf0-4ea9-8674-8c9c6fccc303",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "fromEmail": "automtisiert@gmail.com",
        "toEmail": "sieber180@gmail.com",
        "subject": "Test ",
        "emailFormat": "both",
        "text": "Here my boi there is really potential",
        "options": {
          "attachments": "data"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        928,
        -208
      ],
      "id": "3ac2daa6-f8ea-4aa5-a0ae-e501ba3d0c04",
      "name": "Send email",
      "webhookId": "c4a45eb5-3247-4927-8e0f-e85185f019b2",
      "credentials": {
        "smtp": {
          "id": "9L6rTiva724yXyov",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "dataPropertyAttachmentsPrefixName": "attachment_",
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -544,
        -208
      ],
      "id": "7e0eb280-3dd0-4f4f-ab49-764acf5d3bf1",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "kkG2z3KjVDEcd4Xx",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -320,
        -208
      ],
      "id": "403942ec-e860-451a-95bf-f78895e8cfd8",
      "name": "Get a message",
      "webhookId": "d96e743e-74f3-495d-8690-5ef670764e77",
      "credentials": {
        "gmailOAuth2": {
          "id": "kkG2z3KjVDEcd4Xx",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        128,
        0
      ],
      "id": "1bc84e6b-ea5b-4be6-873b-dff60ac82929",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "yQoQ92AGOg6WUgyW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "Extrahiere die Rechnungsdaten aus dem folgenden Text.  \nAntworte ausschließlich als gültiges JSON-Objekt.  \nSchreibe die ECHTEN Werte aus der Rechnung in die Felder.  \nFalls ein Wert fehlt, setze \"null\".  \nSchreibe KEIN Wort \"string\".  \nKein Text, keine Erklärungen, keine Backticks, keine Markdown-Formatierung.\nGib die Daten im JSON-Format zurück. Stelle sicher, dass alle Strings gültiges JSON sind:\nWenn ein Text Anführungszeichen enthält, schreibe sie immer als \\\" heraus.“Wenn ein Text Anführungszeichen enthält, schreibe sie immer als \\\" heraus.“\nVerwende keine unescaped Quotes.\n\nFalls Anführungszeichen im Text vorkommen, ersetze sie durch \\\".\n\nKein Markdown, keine json-Blöcke, nur sauberes JSON.\"\n\n{\n  \"Rechnungsnummer\": \"\",\n  \"Rechnungsdatum\": \"\",\n  \"Lieferant_Name\": \"\",\n  \"Lieferant_Adresse\": \"\",\n  \"Lieferant_UStID\": \"\",\n  \"Empfaenger_Name\": \"\",\n  \"Empfaenger_Adresse\": \"\",\n  \"Leistungsdatum\": \"\",\n  \"Leistungsbeschreibung\": \"\",\n  \"BetragNetto\": \"\",\n  \"MwStSatz\": \"\",\n  \"MwStBetrag\": \"\",\n  \"BetragBrutto\": \"\",\n  \"Faelligkeit\": \"\",\n  \"IBAN\": \"\",\n  \"BIC\": \"\",\n  \"Zahlungsbedingungen\": \"\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        128,
        -208
      ],
      "id": "aa2bbed0-e2af-44f3-83fc-52b2fa86eb33",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -96,
        -208
      ],
      "id": "a7c0f45c-2886-4c94-aa01-07e005b8c943",
      "name": "Extract from File",
      "notes": ".replace(/\"/g, '\\\"')"
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1756146524
      }
    }
  },
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}